.body {
  /* overflow: hidden; */
  /* background-color: rgba(100, 100, 100, 1); */
  font-family: 'Ubuntu', sans-serif;
  font-size: 1vmax;
  /* font-family: Helvetica; */
}

desc{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1vmax;
}

div.gallery {
  position: fixed;
  /* margin-left: 50%; */
  /* margin-top: 20%; */
  top: 50%;
  left: 50%;
  /* border: .2vw solid rgba(20, 20, 20, 1); */
  /* border-radius: 10px; */
  /* float: left; */
  width: 5%;
  z-index: 1000;
  background: rgba(10, 10, 10, .3);
  transform: translate(-50%, -50%);
  font-family: 'Ubuntu', sans-serif;
  font-size: 1vmax;
  border-radius: 1vw;
  /* transition: all 0.3s ease-in-out; */
}

div.gallery:hover {
  background: rgba(20, 20, 20, 1);
  box-shadow: 0 0px 0px 1px rgba(0, 0, 0, 1);
  /* border-radius: 10vw; */
  color: white;
  width: 20%;
  /*    position: relative;*/
  color: rgba(255, 255, 255, .1);
  font-family: 'Ubuntu', sans-serif;
  font-size: 1vmax;
  border-radius: 1vw;
  /* transition: all 0.4s ease-in-out; */
}

div.gallery:hover>div.desc {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1vmax;
  color: white;
  background: rgba(20, 20, 20, 1);
  color: white;
  display: block;
  border-radius: 1vw;
}

div.gallery:hover>img {
  width: 100%;
  /* transform: translate(-16%, -2%); */
  /* border-radius: 1vw; */
  opacity: 1;
  filter: alpha(opacity=100);
  font-family: 'Ubuntu', sans-serif;
  font-size: 1vmax;
}

div.gallery:active>img {
  width: 180%;
  transform: translate(-20%, -0%);
  opacity: 1;
  filter: alpha(opacity=100);
  font-family: 'Ubuntu', sans-serif;
  font-size: 1vmax;
  border-radius: 1vw;
}

div.gallery:active>div.desc {
  transition: all .2s ease-in-out;
  display: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1vmax;
}

/* div.gallery:hover {
  border: 1px solid #777;
} */

div.gallery img {
  width: 100%;
  height: auto;
  opacity: 0.6;
  filter: alpha(opacity=50);
  transition: all 0.2s ease-in-out;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1vmax;
  border-color: white;
  background-color: white;
  border-radius: 1vw;
}

div.desc {
  padding: 1vw;
  text-align: center;
  color: rgba(255, 255, 255, .5);
  transition: all .2s ease-in-out;
  display: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1vmax;
  border-radius: 1vw;
}
